/* @import url('https://fonts.googleapis.com/css?family=Lato'); */

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /* I've tried Garamond, Lato, Open Sans, Segoe UI, Segoe UI Light, Roboto... */
  /* but Helvetica/Arial looks almost as good, and no download cost */
  /* font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif; */
  /* font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif; */
  font-family: 'Times New Roman', serif;
}

body, html {
  height: 100%;
}

/* need these so can have a full-page image */
#___gatsby {
  height: 100%;
}
#___gatsby div {
  height: 100%;
}


.page {
  /* margin: 0 auto; */
  /* max-width: 960; */
  /* padding: 0px 1.0875rem 1.45rem; */
  /* height: 100%; */
}

.page {
  /* background-image: url(../assets/images/austin-cc-argash1200x200.jpg); */
  background-image: url(../assets/images/house-christopher-harris-55545-unsplash.jpg);
  background-repeat: no-repeat;
  /* background-size: 1200px 200px; */
  background-size: cover;
  background-position: center;
  /* padding: 1em; */
  /* width: 100%; */
  height: 100%;
  color: rgba(255,255,255,0.9);
}

.header h1 {
  margin: 0;
  padding: 0.25em;
  font-size: 2em;
  font-weight: 300;
  /* color: rgba(255,255,255,0.9); */
  /* color: rgba(0,0,0,0.9); */
  background: rgba(0,0,0,0.5);
  text-align: center;
}

.layout {
  color: black;
}

